:root {
  --bg-color: #000000;       /* Fondo principal */
  --accent-color: #FFB400;   /* Acento para botones o íconos */
  --secondary-color: #7FC97F; /* Verde lima suave */
  --text-color: #212121;     /* Texto general */
  --text-light: #FFFFFF;     /* Texto blanco */
  --bg-light: #F5F5F5;       /* Fondo claro para secciones */
  --border-color: #CCCCCC;
  --parrafo: rgb(73, 73, 73);
}
/*! contacto */
.hero {
  position: relative;
  background: url('../images/contactanos_x4.jpg') no-repeat center center/cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 4rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.493); /* 0.4 = opacidad del fondo */
  z-index: 0;
}

.hero-text {
  margin: 0;
  z-index: 2;
}

.hero-title {
  font-size:  clamp(1rem, 10vw, 7rem);
  font-family: 'Gravitas One', cursive;
  color: #fff;
  z-index: 7;
  text-align: center;
}
.cards {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  width: 90%;
  max-width: 1100px;
  justify-content: space-between;
  color: #fff;
}
.card {
  background: var(--bgc-color-secundario);
  padding: 1rem;
  flex: 1;
  text-align: center;
  backdrop-filter: blur(4px);
}

.card-icon {
  font-size: 2rem;
}
.card p {
  font-size: clamp(0.4rem, 2.5vw, 1.3rem);
  margin-bottom: 15px;
  font-family: 'Courgette', cursive;
}
.card a {
  color: #fff;
  font-weight: bold;
  font-size: 0.95em;
  text-decoration: none;
  padding: 0.5rem 5rem; 
  background-color: #000;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

/*! contacto */
/* Formulario */
.contact-form {
  flex: 1;
  min-width: 300px;
  padding: 0.5rem;
}
form {
  border: 2px solid var(--border-color);
  padding: 30px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.123);
}
.contact-form h3 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 20px;
  color: var(--gris);
  font-family: 'Gravitas One', cursive;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 3px solid var(--border-color);
  margin: 1rem 0;
  background: var(--black);
  font-size: 14px;
  border-radius: 10px;
}
input::placeholder{
  color: var(--blanco);
} 
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-row input,
.form-row select {
  flex: 1;
}

.contact-form button {
  width: max-content;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 1rem 5rem;
}
.form-label{
  position: relative;
  color: var(--blanco);
  font-family: 'Courgette', cursive;
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}
textarea {
  resize: none;
}
textarea::placeholder{
  color: var(--blanco);
}
.form-submit {
  display: flex;
  justify-content: center;
}
/*? faq */

.faq-contact-section {
  padding: 6rem 0;
}
.faq-contact-container {
  position: relative;
  top: 3rem;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.faq {
  flex: 1;
  min-width: 300px;
}
.faq-title {
  position: relative;
  top: 2rem;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 40px;
  font-family: 'Gravitas One', cursive;
  color: var(--blanco);
  text-align: end;
}

.faq-item {
  margin-bottom: 13px;
  overflow: hidden;
  transition: all 0.5s ease;
  border: 3px solid var(--border-color);
}

.faq-question {
  background: none;
  border: none;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  font-size: clamp(1.3rem, 2.5vw, 1.5rem);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  color: var(--blanco);
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition: transform 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

.faq-item.open .faq-question::after {
  content: '-';
  font-family: 'Courier New', Courier, monospace;
}

.faq-answer {
  display: none;
  padding: 0 20px 15px;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
  color: var(--parrafo);
  font-family: 'Courgette', sans-serif;
}

.faq-item.open .faq-answer {
  display: block;
}




/*! mas info*/

/* Estilo general */
.contact-info-section {
  padding: 3rem 1rem;
  background: #fff;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.5rem;
}
.contact-details {
  border-right: 2px solid var(--border-color);
  border-radius: 0px;
}
.contact-details  h2 {
  position: relative;
  top: 2rem;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 40px;
  font-family: 'Gravitas One', sans-serif;
  color: var(--gris);
  text-align: center;
}
.contact-details .contact-text {
  font-size:  1.3rem;
  font-family: 'Courgette', sans-serif;
  text-align: center;
}
.contact-details ul {
  text-align: center;
}
.contact-details ul li {
  font-family: 'Courgette', sans-serif;
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  color: var(--parrafo);
}
.contact-details ul li strong {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  color: var(--gris) 
}
/* Bloques comunes */
/* Redes sociales y ubicación como un solo bloque */
.right-block {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* Listas */
.contact-details ul,
.location-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-details li,
.location-info li {
  margin-bottom: 15px;
  color: #333;
}

.directions li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #444;
}

/* Botón mapa */
.btn-maps {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--text-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}


/* Redes sociales */
.social-info h2 {
  position: relative;
  top: 2rem;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin-bottom: 40px;
  font-family: 'Gravitas One', sans-serif;
  color: var(--gris);
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  border: 2px solid var(--border-color);
}

.social-icons a {
  font-size: 2.5rem;
  color: #444;
  padding: 10px;
}
.location-info {
  text-align: center;
}
.location-info h2 {
  position: relative;
  top: 2rem;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin-bottom: 40px;
  font-family: 'Gravitas One', sans-serif;
  color: var(--gris);
  text-align: center;
}
.location-info p {
  font-size:  1rem;
  font-family: 'Courgette', sans-serif;
}
.location-info p strong {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  color: var(--gris) 
}
.directions li {
  font-family: 'Courgette', sans-serif;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
}
/* Mapa */
.map-container {
  max-width: 1400px;
  margin: 40px auto 0;
}

@media only screen and (max-width: 768px) {
  /* Estilos para celulares y tablets pequeñas */
  .cards{
    display: none;
  } 
  .faq-contact-container {
    grid-template-columns: 1fr;
  }
  .contact-form h3 {
    text-align: center;
    color: var(--text-color);
  }
  .form-row{
    grid-template-columns: 1fr;
  }
  .faq-title{
    text-align: center;
  }
  .faq-item {
    margin: 0.5rem;
  }
  .contact-grid{
    grid-template-columns: 1fr;
    border: none;
  }
  .contact-details{
    border: none;
  }
}
